body {
  background-color: rgb(199, 223, 189);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#mainDiv {
  background-color: rgb(87, 116, 73);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(70, 68, 68, 0.1);
  width: 260px;
}

#input {
  width: 100%;
  height: 60px;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Buttons */
.button-row button {
  flex: 1;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(240, 249, 237);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-row button:hover {
  background-color: rgb(199, 223, 189);
}

.button-row .button-wide {
    flex: 2;
    background-color: #f3d98c;
}

.button-row .button-wide:hover {
  background-color: #f1ca54;
}

#clear{
    background-color: #f9d156;
}

#clear:hover{
    background-color: #f9bb37;
}
