*{
    background-color: bisque;
    color: brown;
}

h1{
    background-color: yellowgreen;
    color: green;
}
#abc{
    background-color: pink;
    color: coral;
}
.st{
    font-family: 'Courier New', Courier, monospace;
    font: 300;
    color: aquamarine;
}
p.st{
    color: blue;
}
p>b{
    color: aquamarine;
}
